{% extends "base.html" %}

{% block title %}About - Sinfex{% endblock %}


{% block menu %}	
		<li><a href="{% url 'home' %}" accesskey="1" title="">Home</a></li>
		<li><a href="{% url 'map' date %}" accesskey="3" title="">Map</a></li>
		<li class="active"><a href="{% url 'about' %}" accesskey="2" title="">About</a></li>
{% endblock %}


{% block main %}


<div class="title">
		  	<h2>About Sinfex</h2>
</div>

<div class="container">
	<p>
	<b>Sinfex was developed by</b> 
	Ali Hürriyetoğlu (<a href="https://twitter.com/hurrial">@hurrial</a>),
	Nelleke Oostdijk,
	Marco Puts (<a href="https://twitter.com/marcoputs">@MarcoPuts</a>),
	Piet Daas (<a href="https://twitter.com/PietDaas">@PietDaas</a>),
	Mustafa Erkan Başar(<a href="https://twitter.com/me_basar">@me_basar</a>), and Antal van den Bosch (<a href="https://twitter.com/antalvdb">@antalvdb</a>).
	as part of the <a href="http://www.commit-nl.nl/projects/wp-packages/adaptive-information-extraction-over-time-adnext">ADNEXT</a> (<a href="https://twitter.com/Adnext_Commit">@Adnext_Commit</a>) 
	work package of the <a href="http://www.commit-nl.nl/">COMMIT</a>.
	</p>
	<p>
		The <a href="https://bitbucket.org/hurrial/sinfex">code repository on Bitbucket</a> contains the detailed information about this project.
	</p>
</div>





{% endblock %}

