{% load staticfiles %}
{% load app_filters %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Undeviating 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140322

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="keywords" content="sinfex, information extraction" />
<meta name="description" content="" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'tags.css' %}" />  

<title>{% block title %}Home - Sinfex{% endblock %}</title>



</head>
<body>
<div id="header-wrapper">

	<div id="header" class="container">
	
		<div id="logo">
        	<!--span class="icon icon-cog"></span-->
			<h1><a href="{% url 'home' %}">Sinfex</a></h1>
		</div>
		
			
		<div id="menu">
			<ul>
				{% block menu %}
					<li class="active"><a href="{% url 'home' %}" accesskey="1" title="">Home</a></li>
					<li><a href="{% url 'map' date %}" accesskey="3" title="">Map</a></li>
					<li><a href="{% url 'about' %}" accesskey="2" title="">About</a></li>
				{% endblock %}
			</ul>
		</div>
		
	</div>
	
</div>
<div class="wrapper">

	<div id="welcome">

		{% block search %}

		<form method="post" action="{% url 'home' %}">
			{% csrf_token %}
  			<input type="text" name="keyword" placeholder="Search with a keyword" required/>
  			<input type="submit" name="keysearch" value="Search" class='btn kysrch'>
  		</form>

		<br><br><br>

		{% endblock %}
	
    	
		{% block main %}
		
		<header> 

			<a href="{% url 'sinofdate' prevDay %}" class="btn">⇦</a>previous

			<h1>{{ currdate }}</h1>
				
			next<a href="{% url 'sinofdate' nextDay %}" class="btn">⇨</a>
				
		</header>



		<!-- 5) correct 
			 4) correct but not the complete information covered 
			 3) correct but there are mistakenly covered parts 
			 2) Misses minor information 
			 1) Misses major information 
			 0) completely wrong match -->

		{% if alltypeslist %}


			<form method="post" action="{% url 'home' %}">
				{% csrf_token %}


			{% for x in alltypeslist %}
			

			<section>
			<h3>{{ x.type }}</h3> 
			<div>
					<ul id="{{ x.type }}">
						{% for sin in x.sinlistoftype %}
							
								<li>	
										<a id="tweetbox" href="{% url 'reltweets' sin.id %}">
										<div>
										{% for s in  sin.sinfex_inf_str|split:"Annotated TWEET:" %}
													{% if forloop.last %}  
																{{ s |safe }}
													{% endif %}  
										{% endfor %}
										<br>
										Created at : {{ sin.created_time }}
										<!-- br>Types : 
										{% for dict in sin.sinfex_inf_dicts %}
														{{ dict.type }}												
										{% endfor %} -->
										</div>
										</a>
										<select name="vote">
											<option disabled selected value> -- select a rating value -- </option>
											<option value="{{ sin.id }}/0"><b>0</b>  (Completely wrong match)</option>
											<option value="{{ sin.id }}/1"><b>1</b>  (Misses major information)</option>
											<option value="{{ sin.id }}/2"><b>2</b>  (Misses minor information)</option>
											<option value="{{ sin.id }}/3"><b>3</b>  (Correct but there are mistakenly covered parts)</option>
											<option value="{{ sin.id }}/4"><b>4</b>  (Correct)</option>
											<!-- option value="{{ sin.id }}/5"><b>5</b>  (Correct)</option -->
										 </select>
										<br>--------------------------------------------------------------------------	
								</li>
							
						{% endfor %}
					</ul>
			</div>
			</section>
	
			{% endfor %}
	
			<input type="hidden" name="date" value="{{ date }}"/>
			<input type="submit"  name="feedback" value="Submit Your Ratings" class="btn subrating"/>
	
			</form>

		{% else %}

			<br> There is not any information


		{% endif %}

		
		{% endblock %}

	</div>
	
</div>
<div id="copyright">

    		<h3>Sinfex is made possible by:</h3>
    		
    		<div id="logocontainer">

				<a href="http://applejack.science.ru.nl/languagemachines/"><img src="{% static 'images/logo-LanguageMachines.png' %}" alt="logo Language Machines"></a>

				<a href="http://www.cbs.nl/"><img src="{% static 'images/logo-CBS.png' %}" alt="logo CBS"></a>

				<a href="http://commit-nl.nl/"><img src="{% static 'images/logo-Commit.png' %}" alt="logo Commit"></a>

				<a href="http://project-infiniti.nl/"><img src="{% static 'images/logo-Infiniti.png' %}" alt="logo Infiniti"></a>
				
				<a href="http://www.ru.nl/"><img src="{% static 'images/logo-RU.png' %}" alt="logo Radboud Universiteit"></a>

			</div>
</div>
</body>
</html>
