{% extends "base.html" %}
{% load app_filters %}

{% block title %}KeySearch - Sinfex{% endblock %}


{% block menu %}	
		<li><a href="{% url 'home' %}" accesskey="1" title="">Home</a></li>
		<li><a href="{% url 'map' date %}" accesskey="3" title="">Map</a></li>
		<li class="active"><a href="#" accesskey="4" title="">KeySearch</a></li>
		<li><a href="{% url 'about' %}" accesskey="2" title="">About</a></li>
{% endblock %}


{% block main %}


<h3>Searched for : '{{ keyword }}'</h3> <br>



<div class="container">


{% if sinlist %}
<i>(Showing the results that happened in the last 30 days)</i><br><br><br>

<ul>
{% for sin in  sinlist %}
		<li>{% for s in  sin.sinfex_inf_str|split:"Annotated TWEET:" %}
					<a id="tweetbox" href="{% url 'reltweets' sin.objectid %}">
						{% if forloop.last %}  
								{{ s |safe }}
						{% endif %} 
					</a> 
			{% endfor %}
			<br>
			Created at : {{ sin.created_time }}
			<br><br>
		</li><br>								
{% endfor %}
</ul>

{% else %}

There is not any tweet with this key term

{% endif %}


</div>



{% endblock %}

