{% extends "base.html" %}

{% block title %}Map - Sinfex{% endblock %}


{% block menu %}	
		<li><a href="{% url 'sinofdate' date %}" accesskey="1" title="">Home</a></li>
		<li class="active"><a href="{% url 'map' date %}" accesskey="3" title="">Map</a></li>
		<li><a href="{% url 'about' %}" accesskey="2" title="">About</a></li>
{% endblock %}


{% block main %}


<header> 

	<a href="{% url 'map' prevDay %}" class="btn">⇦</a>previous

	<h1>{{ currdate }}</h1>
				
	next<a href="{% url 'map' nextDay %}"class="btn">⇨</a>
				
</header>




<div class="container">


	<div id="iframemap"><iframe src="{% url 'ifmap' %}" width="1000" height="500"></iframe></div>


</div>





{% endblock %}

