{% extends "base.html" %}
{% load app_filters %}

{% block title %}Relevant Tweets - Sinfex{% endblock %}


{% block menu %}	
		<li><a href="{% url 'home' %}" accesskey="1" title="">Home</a></li>
		<li><a href="{% url 'map' date %}" accesskey="3" title="">Map</a></li>
		<li><a href="{% url 'about' %}" accesskey="2" title="">About</a></li>
{% endblock %}


{% block main %}



<div class="container">

	<b>The Chosen Tweet:</b><br>

	{% for s in  orgsin.sinfex_inf_str|split:"Annotated TWEET:" %}
			{% if forloop.last %}  
				{{ s|safe }}
			{% endif %}  
	{% endfor %}
	<!--
	{% if orgsin.coordinates %} 
		<br> Coordinates : {{ orgsin.coords }} 
	{% endif %}
	-->
	<br>
	Created time : {{ orgsin.created_time }}


	<br><br>

	<!--
	{% if orgsin.coordinates %}
		{{ orgsin.coordinates}}
	{% endif %}
	-->

	<br><br>

	<h3>Tweets from 2 hours ago to 2 hours later and 10 km away at most:</h3>

	<br>

	{% if spatiotime %}
	<ul>
		{% for sin in  spatiotime %}
			<li>{% for s in  sin.sinfex_inf_str|split:"Annotated TWEET:" %}
						{% if forloop.last %}  
								{{ s |safe }}
						{% endif %}  
				{% endfor %}
				<!--
				<br>Coordinates : {{ sin.coords }}
				-->
				<br>
				Created at : {{ sin.created_time }}
			</li><br><br>								
		{% endfor %}
	</ul>	

	{% else %}

	There is not any tweet for this condition.
	{% if not orgsin.coordinates %} 
		<br>Because the chosen tweet does not contain any coordinate information
	{% endif %}

	{% endif %}




</div>





{% endblock %}

