

/*********************************************************************************/
/* Pop-ups on hover                                                              */
/*********************************************************************************/
   

annotation span,       
road_id span, 
timex span, 
observed_event span,  
status span, 
flow span, 
road_section span,  
speed span, 
location span,
intensity_pattern1 span, 
intensity_pattern2 span,
weather_cond span, 
road_point span, 
direction span,
road_condit span, 
notification span, 
road_side span,
action span, 
traffic span, 
lane span, 
monitoring span, 
token_road span{
    z-index:10;
    display:none;
    margin-top: 20px; 
    margin-left: -50px; 
    line-height:16px;
    font-size: 1.5em;
    background-color: #FFF;
    border-radius:2px;        
    box-shadow: 0px 0px 8px 4px #666;
    padding:14px 20px;
    color: #000;
}

annotation:hover span,       
road_id:hover span, 
timex:hover span, 
observed_event:hover span,  
status:hover span, 
flow:hover span, 
road_section:hover span,  
speed:hover span, 
location:hover span,
intensity_pattern1:hover span, 
intensity_pattern2:hover span,
weather_cond:hover span, 
road_point:hover span, 
direction:hover span,
road_condit:hover span, 
notification:hover span, 
road_side:hover span,
action:hover span, 
traffic:hover span, 
lane:hover span, 
monitoring:hover span, 
token_road:hover span{
    display:inline; 
    position:fixed; 
} 
  
 
   
/*********************************************************************************/
/* Type colors on the home page                                                  */
/*********************************************************************************/   
   
#road_id road_id,
#timex timex,
#observed_event observed_event,
#alert alert,
#status status,
#flow flow,
#road_section road_section,
#speed speed,
#location location,
#intensity_pattern1 intensity_pattern1,
#intensity_pattern2 intensity_pattern2,
#weather_cond weather_cond,
#road_point road_point,
#direction direction,
#road_condit road_condit,
#notification notification,
#road_side road_side,
#action action,
#traffic traffic,
#lane lane,
#monitoring monitoring,
#token_road token_road{
	color: #990000; 
}
      



ul road_id, 
ul timex, 
ul observed_event,  
ul alert,
ul status, 
ul flow, 
ul road_section,  
ul speed, 
ul location,
ul intensity_pattern1, 
ul intensity_pattern2,
ul weather_cond, 
ul road_point, 
ul direction,
ul road_condit, 
ul notification, 
ul road_side,
ul action, 
ul traffic, 
ul lane, 
ul monitoring, 
ul token_road{
	color: #000099; 
	text-decoration: underline;
}

/*********************************************************************************/
/* Colors on the map                                                             */
/*********************************************************************************/   
  
.leaflet-popup-content road_id, 
.leaflet-popup-content timex, 
.leaflet-popup-content observed_event,  
.leaflet-popup-content alert,
.leaflet-popup-content status, 
.leaflet-popup-content flow, 
.leaflet-popup-content road_section,  
.leaflet-popup-content speed, 
.leaflet-popup-content location,
.leaflet-popup-content intensity_pattern1, 
.leaflet-popup-content intensity_pattern2,
.leaflet-popup-content weather_cond, 
.leaflet-popup-content road_point, 
.leaflet-popup-content direction,
.leaflet-popup-content road_condit, 
.leaflet-popup-content notification, 
.leaflet-popup-content road_side,
.leaflet-popup-content action, 
.leaflet-popup-content traffic, 
.leaflet-popup-content lane, 
.leaflet-popup-content monitoring, 
.leaflet-popup-content token_road{
	color: #0000FF; 
	text-decoration: underline;
}




/*********************************************************************************/

/*
   road_id, #road_id{
		color: #00FF00; 
   }
      
   timex, #timex {
	   color: #0000FF;      
   } 
   
   observed_event, #observed_event {
   	color: #FF0000; 
   }
   
   status, #status{
		color: #ff4d4d; 
   }
   
   flow, #flow{
		color: #ff4d4d; 
   }
   
   road_section, #road_section{
		color: #000; 
   }
   
   speed, #speed{
		color: #0000FF; 
   }
   
   location, #location{
		color: #0000FF; 
   }

   intensity_pattern1, #intensity_pattern1{
		color: #0000FF; 
   }
   
   intensity_pattern2, #intensity_pattern2{
		color: #0000FF; 
   }
   
   weather_cond, #weather_cond{
		color: #0000FF; 
   }
   
   road_point, #road_point{
		color: #0000FF; 
   }
   
   direction, #direction{
		color: #0000FF; 
   }
   
   road_condit, #road_condit{
		color: #0000FF; 
   }
   
   notification, #notification{
		color: #0000FF; 
   }
   
   road_side, #road_side{
		color: #0000FF; 
   }
   
   action, #action{
		color: #00FF00; 
   }
   
   traffic, #traffic{
		color: #0000FF; 
   }
   
   lane, #lane{
		color: #0000FF; 
   }
   
   monitoring, #monitoring{
		color: #0000FF; 
   }
   
   token_road, #token_road{
		color: #000; 
   }

*/
   
